<button>
<a href="#" class="show_hide">The Dev's</a>
</button>

<div class="slidingDiv" style="display: block;">
  <div class="dever">
   Will  
  </div>
  Leo
  <div class="dever">
    
  </div>

  <div class="dever">
    Nick
  </div>
</div>