<div class="timeline">
<p>  
  ------------------------ <br>
    <% @user_timeline %> 
    <%   20.times do |i| %>
      <div class="tweet">
       <pre>
        <%= @user_timeline[i].text %> 
          Source: 
          <%= @user_timeline[i].source %> --
          Created At: 
          <%= @user_timeline[i].created_at %> --
    
        </pre>
      </div>
   <% (i+1) %>
<% end %>
</p><p>
    ------------------------ <br>
    <%= @current_user.name %> <br>
  ------------------------
</p>
</div>