<div class="timeline">
<p>  
  ------------------------ <br>
    <%= @user_timeline[0].text %> <br>
    ------------------------ <br>
    <%= @current_user.name %> <br>
  ------------------------
</p>
</div>