
<a href="#" class="show_hide primary_back_color light_text_color">The Dev's</a>

<div class="slidingDiv primary_back_color" style="display: block;">
  <div class="dever">
  <img src="http://designmarz.com/wp-content/uploads/2016/02/will_simmons.jpg" alt="WIll Simmons" class="linkPic">
   <h1>Will</h1>
  <p class="info">
    I've always had a passion for analysis and problem solving. This led me into the financial services industry, but my love of technology drove me to develop an interest in coding and web development. <br>
    Recently I dedicated myself to learn both front and back-end web development full time by enrolling in General Assembly's Web Development Immersive program, with the end goal of becoming a back-end or full-stack developer.
    <h4><a href="https://github.com/willsimmons"> <i class="fa fa-github fa-2x"> </i><br> Will Simmons</a></h4>


  </p>
  </div>

  <div class="dever">
  <img src="http://designmarz.com/wp-content/uploads/2016/02/leo_torres.jpg" alt="Leo Torres" class="linkPic">
  <h1>Leo</h1>
  <p class="info">
    After many colorful and rich experiences including military experience and academia, I decided to pursue a long held interest in technology. I enrolled in General Assembly's three-month, full-stack web development immersive course to build the skills necessary to make it a reality.
    <br>
    <h4><a href="https://github.com/osogrizz"><i class="fa fa-github fa-2x"> </i><br> Leo Torres</a></h4>
  </p>
  </div>

  <div class="dever"> <img src="http://designmarz.com/wp-content/uploads/2016/02/nick_marazzo.jpg" alt="Nick Marazzo" class="linkPic">
    <h1>Nick</h1>
  <p class="info">
    Full stack developer, former pixel pushing graphic designer. <br>
   <!--  After more than a decade working in the print design field, I'm moving back to my computer science and programming passions. I've now decided to take a big jump to help develop my own ideas and help realize the ideas of others to create great products that I am passionate about. <br> -->
    I joined General Assembly's Web Development Immersive for the January 2015 cohort and have only become more intrigued by what this new skill set can help me do. I'm now pursuing exciting career opportunities as a Full-Stack Web Developer. I'm looking forward to developing new ideas.
    Currently seeking a roll with a great company as either a full stack developer or UI Engineer. <br>
    <h4><a href="https://github.com/designmarz"><i class="fa fa-github fa-2x"> </i><br> Nick Marazzo</a></h4>
  </p>
  </div>
</div>