
<a href="#" class="show_hide">The Dev's</a>

<div class="slidingDiv" style="display: block;">
  <div class="dever">
  <img src="https://media.licdn.com/media/p/3/000/056/1f2/189a392.jpg" alt="WIllSimmons" class="linkPic">
   <h1>Will</h1> 
  <p class="info">
    Beer Wizard!
  </p>
  </div>
  
  <div class="dever">
  <img src="https://media.licdn.com/mpr/mpr/shrink_400_400/p/8/000/232/008/101b875.jpg" alt="LeoTorres" class="linkPic">
  <h1>Leo</h1> 
  <p class="info">
    User experience alpha partner network conversion leverage agile development gamification hackathon social media product management android non-disclosure agreement marketing. Handshake android product management. Infographic series A financing research & development business-to-business value proposition assets. Influencer return on investment business plan seed round analytics gamification facebook agile development A/B testing series A financing strategy sales vesting period hackathon.
  </p>  
  </div>

  <div class="dever"> <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAEzAAAAJGNlMGI4NDM2LTRmYmEtNGMyOS05NjY5LTE5MzI0OTQ2OGMwNA.jpg" alt="NickMarazzo" class="linkPic">
    <h1>Nick</h1> 
  <p class="info">
    User experience alpha partner network conversion leverage agile development gamification hackathon social media product management android non-disclosure agreement marketing. Handshake android product management. Infographic series A financing research & development business-to-business value proposition assets. Influencer return on investment business plan seed round analytics gamification facebook agile development A/B testing series A financing strategy sales vesting period hackathon.
  </p>
  </div>
</div>