<div id="clock-container" class="clock-container">
  <div id="clock">
    <div id="hour-container" class="center default-rotation">
      <div id="hour" class="hand"></div>
    </div>
    <div id="minute-container" class="center default-rotation">
      <div id="minute" class="hand"></div>
    </div>
    <div id="second-container" class="center default-rotation">
      <div id="second" class="hand"></div>
      <div id="second-base" class="hand"></div>
    </div>
  </div>
  
</div>

<div id="time-container">
    <div id="time">0:00</div>
</div>