<div class="tweetBox primary_back_color" data-pipe="tweetBox">
<%= form_tag(tweets_path) do %>
    <%= text_field_tag :message %>      <i class="fa fa-twitter"> <%= submit_tag %> </i>
  <% end %>
  <div class="inputCounter light_text_color">140</div>
</div>