<div class="opt">
<a href="#" class="show_hide_opt"><i class="fa fa-cogs fa-3x"> </i></a>
  <div class="optionsDiv primary_back_color" style="display: block;">
	<ul class="unstyled inline_list">
		<li class="inlinelist">
			<a href="#" data-option="clock" id="show_hide_clock">Hide Clock</a>
		</li>
		<li class="inlinelist">
			<a href="#" data-option="todo" id="show_hide_todo_container">Hide todo's</a>
		</li>
		<li class="inlinelist">
			<div href="#" data-placement="top" data-option="colorBack" id="colorSelector_backcolor" class="colorpicker-element">
				Color Picker
			</div>
		</li>

		<li class="inlinelist">
			<div href="#" data-placement="top" data-option="colorText" id="colorSelector_textcolor" class="colorpicker-element">
				Color Picker
			</div>
		</li>
	</ul>

  </div>
</div>