<div class="opt">
<a href="#" class="show_hide_opt"><i class="fa fa-cogs fa-3x"> <br> </i></a>
  <div class="optionsDiv" style="display: block;">
  This is a test
<br>
    <a href="#" class="show_hide_clock">Show/Hide Clock</a>
    <br>
    <a href="#" class="show_hide_todo_container">Show/Hide todo's</a>
<br>

  </div>
</div>
