<div class="opt">
<a href="#" class="show_hide_opt"><i class="fa fa-cogs fa-2x"></i></a>
  <div class="optionsDiv" style="display: block;">
  This is a test
  <ul>
    <li>Option</li>
    <li>Option</li>
    <li>Option</li>
    <li>Option</li>
  </ul>

  </div>
</div>