<!-- <div class="opt"> -->

<a href="#" class="options_menu"><i class="fa fa-cogs fa-3x text_hover_color"> </i></a>
  <div class="options_menu_container">
	<ul class="unstyled inline_list">

		<li class="inlinelist">
			<a href="#" data-option="clock" id="show_hide_clock">Hide Clock</a>
		</li>
		<li class="inlinelist">
			<a href="#" data-option="todo" id="show_hide_todo_container">Hide todo's</a>
		</li>
		<li class="inlinelist">
			<a href="#" data-placement="top" data-option="colorBack" id="colorSelector_backcolor" class="colorpicker-element">
				Background Color
			</a>
		</li>

		<li class="inlinelist">
			<a href="#" data-placement="top" data-option="colorText" id="colorSelector_textcolor" class="colorpicker-element">
				Text Color
			</a>
		</li>
	</ul>

  </div>
<!-- </div> -->