<div class="opt">
<a href="#" class="show_hide_opt"><i class="fa fa-cogs fa-3x"> <br> </i></a>
  <div class="optionsDiv" style="display: block;">
  This is a test
  <ul>
    <li><a href="#" class="show_hide_clock">Show/Hide Clock</a></li>
    <li>Option</li>
    <li>Option</li>
    <li>Option</li>
  </ul>

  </div>
</div>