<div class="opt">
<a href="#" class="show_hide_opt"><i class="fa fa-cogs fa-3x"> </i></a>
  <div class="optionsDiv primary_back_color" style="display: block;">
	<ul class="unstyled">
		<li>
			<a href="#" data-option="clock" id="show_hide_clock">Hide Clock</a>
		</li>
		<li>
			<a href="#" data-option="todo" id="show_hide_todo_container">Hide todo's</a>
		</li>
		<li>
			<div href="#" data-option="todo" id="colorSelector">
				<div></div>
			</div>
		</li>
	</ul>

  </div>
</div>