<div class="quote_box" class="light_text_color" data-pipe="quote_box">
<% if current_user %>
  <h1 id="quote light_text_color">
    <%= @quote.split('~')[0] %> <br> <br>
   <strong> <%= @quote.split('~')[1] %> </strong>
  </h1>
<% end %>
</div>