<div id="stock-panel" class="right-panel primary_back_color">
		<div class="right-panel-reveal"><i class="fa fa-area-chart fa-3 light_text_color"></i></div>
		<div id="stock-container" style="height: 400px; min-width: 310px"></div>
</div>
