<!-- <div class="todoHide"> -->
  <div id="todo_container" class="todo_container">
    <div  class="todo">
<!-- 
  <form class="todoForm" id="todoForm">
    <label>Enter a Todo and hit enter!</label><br>
    <input type="text" class="todosubmit"/>
</form>
<ul></ul> -->

<label>Enter a Todo and hit enter!</label>
  <input type='text' id='name' placeholder='New Task'>
    <a href='#' id='add-btn'>Add</a>
      <ul id='list'>
      </ul>
    </div>
  </div>
<!-- </div> -->