<div class="todoHide">
 <!--  <div id="todo_containerID" class="todo_container">
    <div  class="todo">


<label>Enter a Todo and hit enter!</label>
  <input type='text' id='name' placeholder='New Task'>
    <a href='#' id='add-btn'>Add</a>
      <ul id='list'>
      </ul>
    </div>
  </div> -->

  <div id="todo_containerID" class="todo_container">
    <div class="todo-controls">

    <label for="todoEnter">Todo's</label>

      <input type="text" id="todoEnter" placeholder="New Task">
      <label for="datepicker"> Date:</label>
      <input type="text" id="datepicker">
      <a href="#" id="add-btn">Add</a>
    </div>
      <ul id="todo-list">

      </ul>

  </div>

</div>