  <div id="todo_list" class="todo_container primary_back_color container" data-pipe="todo-containerID">
    <div class="row todo-controls">
      <div class="col-xs-6">
    <!-- <label for="todoEnter">Todo's</label> -->
        <input type="text" id="todoEnter" placeholder="New Task">
      </div>
      <div class="col-xs-2">
        <!-- <label for="datepicker"> Date:</label> -->
        <input type="text" id="datepicker">
      </div>
      <div class="col-xs-2">
        <button id="add-btn" type="button" class="btn btn-default btn-xs">+</button>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <ul id="todo-list"></ul>
      </div>
    </div>
  </div>
</div>