<% if current_user %>

	<div class="tweetSignIn signout">	
		Signed in as <%= current_user.name %>
		
		
		<div class="signin">
		
			<%= button_to "Sign out", signout_path, method: "Delete"%>
		
		</div>
	</div>

<% else %>
	
	<div class="tweetSignIn">	
		<h1>Welcome to dashMe!</h1>
		<div class="signin">
			<%= button_to "Sign in with twitter", "/auth/twitter"%>
		</div>
	</div>

<% end %>
