
<div class="tweetSignIn">
<% if current_user %>
  Signed in as <%= current_user.name %>
  <br>
  <div class="signin">
  <%= link_to "Sign out", signout_path, method: "Delete"%>
  </div>
<% else %> <div class="signin">
  <%= link_to "Sign in with twitter", "/auth/twitter"%>
  </div>
  <br>
<% end %>
</div>