<div class="tweet">
  <% if current_user_identity %>
    Signed in as <strong> <%= current_user_identity.nick_name %> </strong>!
    <%= link_to "Sign Out", signout_path, id: "sign_out" %>
    <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
    <% end %>
</div>