<div class="tweetSignIn">
	<% if current_user %>
	
		Signed in as <%= current_user.name %>
		
		
		<div class="signin">
		
			<%= button_to "Sign out", signout_path, method: "Delete"%>
		
		</div>
	
	<% else %>
	

		<h1>Welcome to dashMe!</h1>
		<div class="signin">
			<%= button_to "Sign in with twitter", "/auth/twitter"%>
		</div>
	
	<% end %>
</div>