	<div class="right-panel-reveal"><i class="fa fa-twitter fa-3 light_text_color"></i></div>


	<div class="timeline primary_back_color" id="timeline" data-pipe="timeline">
		<h2 class="twiTitle light_text_color">@Twitter</h2>
  		<div class="tweets"></div>
	</div>
    <%= render 'shared/newTweet' %>
