<div class="weather container">
<div class="row">
	<div class="col-xs-12">
		<p class="temp">-</p>
	</div>
	<div class="col-xs-12">
		<p class="sum"></p>
		<canvas id="icon1" width="64" height="64"></canvas>
	</div>
</div>
<div id="box"></div>

  <!-- <svg class="image"></svg> -->

</div>
