<div class="weather weather_color light_text_color container" data-pipe="weather">
	<div class="row">
		<div class="col-xs-12">
			<p class="temp">-</p>
		</div>
		<div class="col-xs-12">
			<p class="sum"></p>
			<canvas id="icon1" width="64" height="64">Your Browser Does Not Support HTML Canvas.</canvas>
		</div>
	</div>
	<div id="box"></div>
	<div id="hide_forecast">
	<h4 class="light_text_color">
			Extended Forecast <i class="fa fa-arrow-circle-down"></i>
		</h4>
	</div>
	<div class="forecast_daily">
		<ul class="forecast light_text_color primary_back_color">

		</ul>
	</div>

</div>
