<div class="weather light_text_color" data-pipe="weather">
	<div class="quick-stats">
		
			<p class="temp">-</p>
			<p class="sum"></p>
			<canvas id="icon1" width="36" height="36">Your Browser Does Not Support HTML Canvas.</canvas>
		<div id="hide_forecast">
			Extended Forecast <i class="fa fa-arrow-circle-down"></i>
		</div>
	</div>
	<div id="box"></div>
	
	<div class="forecast_daily">
		<ul class="forecast light_text_color primary_back_color">

		</ul>
	</div>

</div>