
/*// About Us //*/
.about_container {
  background: red;
}
/*// show/hide button //*/
  .about_us_reveal {
    cursor: pointer;
    left: 5px;
    padding: 5px 20px;

    position: fixed;
    text-decoration: none;
    top: 5px;
    transition: 0.4s all;
    z-index: 1000;
  }
  .about_us_reveal:hover, .about_us_reveal:active, .about_us_reveal:focus {
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }

/*// show/hide button //*/


/*// main container //*/
  .about_us {
    left: 0;  
    padding: 50px 0px 10px 0px;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    
    text-align: center;
    top: 0;
    z-index: 999;
    transition: 0.4s all;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);

    transform: translateX(-200vw);

    &.active {
      transform: translateX(0vw);
    }
  }

/*// main container //*/





/*// Individual developer column //*/
  .developer {
    padding: 7px;
    // display: inline-table;
    // background-color: rgba(255, 255, 255, 0.75);
    // width: calc(100vw / 3 - 5px);
    // height: auto;
    height: calc(100vh / 3 - 25px);
    // position: relative;
    // border: 1px solid #fff;
    overflow: hidden;

    & .linkPic {
        margin-top: 10px;
        height: 100%;
        height: calc(100vh / 3 - 150px);
        min-height: 50px;
        width: auto;
        border-radius: 50%;
    }

    & .info {
      color: #fff;
      margin-top: 2vh;

font-size: 16px;
font-weight: 100;
      min-height: 100px;
      text-align: justify;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  
/*// Individual developer column //*/

/*// About Us //*/