div#dragContainer {
  width: 98vw;
  height: 94vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  /*background-color: rgba(113, 113, 113, 0.70);*/
}

.signForm {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  background-color: rgba(113, 113, 113, 0.70);
  padding: 5px;
  text-align: center;
}

body {
  background-image: url(https://farm8.staticflickr.com/7281/16750986185_6a600b70fc_k.jpg);
  background-size: cover;
}

.tweetBox {
	padding: 10px;
	background-color: rgba(113, 113, 113, 0.70);
	width: 200px;
	display: inline-block;
}

form {
  text-align: center;
}

#todo-container {
	background-color: rgba(113, 113, 113, 0.70);
	width: 200px;
  height: 200px;
}

.text-center.alert.alert-warning {
  border-radius: 0px;
  position: absolute;
  margin-bottom: 31px;
}

.tweetSignIn {
  background-color: rgba(113, 113, 113, 0.70);
  width: 310px;
  /*height: 90px;*/
  text-align: center;
  font-size: 16pt;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}