body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF !important;
  /*need to change with jquery*/
  background-image: url(https://farm8.staticflickr.com/7584/16765254266_db8360dcc0_c.jpg);
  background-size: cover;
}


div#dragContainer {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/*no longer being used???*/
/*.signForm {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  background-color: rgba(113, 113, 113, 0.70);
  padding: 5px;
  text-align: center;
}*/
/*no longer being used???*/

.tweetBox {
	padding: 10px;
	background-color: rgba(113, 113, 113, 0.70);
	width: 200px;
	display: inline-block;
}

form {
  text-align: center;
}

#todo-container {
	background-color: rgba(113, 113, 113, 0.70);
	width: 200px;
  height: 200px;
}
ul, ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

li.todoItem {
  color: #fff;
  font-size: 12pt;
  font-weight: 200;
  font-style: normal;
}


.text-center.alert.alert-warning {
  border-radius: 0px;
  position: absolute;
  margin-bottom: 31px;
}

.tweetSignIn {
  background-color: rgba(113, 113, 113, 0.70);
  width: 250px;
  text-align: center;
  padding: 7px 4px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 40%;
  top: 10px;
}

.timeline {
  background-color: rgba(113, 113, 113, 0.40);
  display: inline-block;
  padding: 25px;
  min-width: 200px;
  max-width: 400px;
    max-height: 300px;
  overflow-y: scroll;
}

.tweet {
  background-color: rgba(113, 113, 113, 0.30);
  padding: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
}


.deleteX {
    margin-left: 20px;
    color: rgba(0, 203, 247, 2.0);
    text-decoration: none;
    font-weight: bold;
}

h2 {
  font-size: 30px;
  color: #ffffff;
}

input[type="text"] {
  color: #767676;
}