body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #353535 !important;
  /*// background-image: url(https://farm8.staticflickr.com/7584/16765254266_db8360dcc0_c.jpg);*/
  // background-size: cover;
  background-repeat: round;
  overflow: hidden;
}


.background-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    // background: url(../img/overlay-vignette.png);
    background-size: 100% 100%;
    opacity: 0;
}

.fadein {
    -webkit-animation: fadein 1s ease 0.7s forwards;
    animation: fadein 1s ease 0.7s forwards;
}


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  color: #fff;
}

a { 
  color: #00b6ff;  
  &:hover, &:focus {
    text-decoration: none;
  }
}

.primary_back_color {
  background-color: rgba(113, 113, 113, 0.70);
}

.primary_text_color {
  color: #158CBA;
}
.light_text_color {
  color: #ffffff;

}
.text_hover_color:hover {
  color: #FF00FF;
}
.weather_color {
  color: #ffffff !important;
}

div#dragContainer {
    width: 100vw;
    height: calc(100vh - 50px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: beige;
    top: 50px;
    left: 0;
    position: absolute;
}


form {
  text-align: center;

}



a {
  /*// color: #158CBA;*/
  /*// color: #FFFFFF;*/
  text-decoration: none !important;
}

.text-center.alert.alert-warning {
    margin-bottom: 31px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: calc(50% - 150px);
    z-index: 99999;
}


/*// todo //*/

#datepicker {
    width: 0;
    height: 0;
    color: transparent;
    background: transparent;
    display: none;
    &:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';
    content: "\f073"
    }
}

#dateCalendar {
    font-size: 2rem;
}
.ui-datepicker-trigger {
    visibility: hidden;
    height: 0;
    width: 0;
}

#add-btn {
    font-size: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
    /* padding: 1px 5px 0px; */
    /* vertical-align: top; */
}

#todo_list {
    width: 100%;
    height: 40%;
    text-align: center;
    /* position: absolute; */
    left: 5px;
    text-align: left;
    background: #181b1b;
    // background-color: rgba(113, 113, 113, 0.70);
}
.todo-controls {
    height: 2rem;
    padding: 1.2rem 0 0;
    font-size: 1rem;
}

#todoEnter {
    width: 100%;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1.1rem;

}

.todo-item-controls {
  padding-right: 10px;
  float: right;
}

.done-item {
    text-decoration: line-through;
}

.unstyled {
    list-style: none;
    margin-left: -35px;
}

.todo-item a {
    // text-decoration: none !important;
}

.todo-item {
  font-size: 1.6rem;
  font-weight: 400;
  list-style: none;
  margin-left: -43px;
  padding: 5px;
}

.done-btn {
    margin-right: 35px;
}
.done {
  text-decoration: line-through;
  color: black;
  border-bottom: solid 2px #353535;
}

/*// todo //*/




/*// greeting //*/
.greet {
  // color: #ffffff;
  text-align: center;
  font-size: 45pt;
  text-shadow: 2px 3px 5px Rgba(50, 50, 50, 0.65);
}
.greeting {
  position: absolute;
  width: 100%;
  bottom: 30%;
  left: 0;
  z-index: -1;
}
/*// greeting //*/


/*// goals //*/

.goals {

}
.goals_container {
  display: none;

}

/*// goals //*/

/*// quote //*/
.quote_box {
  position: absolute;
  width: 50%;
  bottom: 20px;
  left: 25%;
  z-index: -3;
}

#quote {
  text-align: center;
  font-size: 12pt;
  font-weight: 200;
  line-height: 1.5;
  z-index: -5;
    position: relative;
}
/*// quote //*/



/*// Options //*/
.options_menu {
  bottom: 5px;
  /*background-color: rgba(53, 53, 53, 0.52);*/
  cursor: pointer;

  padding: 5px 20px;
  left: 0px;
  position: absolute;
  text-decoration: none;
  transition: 0.4s all;
  z-index: 999999;

  &:hover {
    .fa  {

      animation: fa-spin 1s infinite steps(3);
      }
    }

  .fa {
    font-size: 18px;
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(2) {
      font-size: 26px;
      float: left;
      margin-top: -22px;
      margin-left: -10px;
      margin-right: -10px;
    }
    &:nth-child(3) {
      font-size: 30px;
    }
  }
  &.active {
    left: 120px;
    .fa {
      color: #fff;
    }
  }
}

.options_menu_container {
    color: #ffffff;
    background-color: rgba(113, 113, 113, 0.9);
    left: 0;
    height: 100vh;
    padding: 5px;
    position: absolute;
    width: 200px;
    top: 0;
    
    z-index: 9999;
    
    transition: 0.4s all;
    transform: translateX(-100vw);

    &.active {
      transform: translateX(0vw);

      &.options_menu_container.active:after {
        // content: "";
        background-color: rgba(220, 220, 220, 0.98);
        width: calc(100vw - 200px);
        height: 100vh;
        position: absolute;
        display: block;
        top: 0;
        left: 200px;
        z-index: -99;

      }
    }
    & a {
      color: #fff;
    }
    ul {
      // background-color: red;
    bottom: 50px;
    position: absolute;
    width: 100%;
    left: 0;
    padding-right: 5px;
    -webkit-padding-start: 5px;
    list-style: none;
    }
    li {
      margin-top: 10px;
      width: 100%;

      & .switch-wrapper {
        display: inline-block;
        position: relative;
        top: 3px;
        right: 25px;
        float: right;
        // background-color: red;
      }
    }
    & .slide-toggle {
      float: right;
      margin-right: 10px;
      display: inline-block;
      width: 40px;
      margin-left: 20px;
      & .ui-slider-handle {
        // margin-left: 2px;
        border-radius: 50%;
      }
    }
}

i.fa.fa-cogs.fa-3x {
  padding-bottom: 10px;
}
/*// Options //*/
