body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #353535;
  // background-image: url(https://farm8.staticflickr.com/7584/16765254266_db8360dcc0_c.jpg);
  background-size: cover;
  overflow: hidden;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  color: #fff;
}

.primary_back_color {
  background-color: rgba(113, 113, 113, 0.70);
}

.primary_text_color {
  color: #158CBA;
}
.light_text_color {
  color: #ffffff;

}
.text_hover_color:hover {
  color: #FF00FF;
}
.weather_color {
  color: #ffffff !important;
}

div#dragContainer {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}


form {
  text-align: center;

}



a {
  // color: #158CBA;
  // color: #FFFFFF;
  text-decoration: none !important;
}
.text-center.alert.alert-warning {
  position: absolute;
  border-radius: 0px;
  margin-bottom: 31px;
}
.text-center.alert.alert-warning {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18pt;
  border-radius: 0px;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 99999;
}

// .deleteX {
//     margin-left: 20px;
//     color: rgba(0, 203, 247, 2.0);
//     text-decoration: none;
//     font-weight: bold;
// }



// todo //

#datepicker:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';
    content: "\f073"
    }
#datepicker {
    width: 0;
    height: 0;
    color: transparent;
    background: transparent;
    display: none;
}

#dateCalendar {
    font-size: 2rem;
}
.ui-datepicker-trigger {
    visibility: hidden;
    height: 0;
    width: 0;
}

#add-btn {
    font-size: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
    /* padding: 1px 5px 0px; */
    /* vertical-align: top; */
}

#todo_list {
    width: 400px;
    height: 200px;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 5px;
    text-align: left;
    // background-color: rgba(113, 113, 113, 0.70);
}
.todo-controls {
    height: 2rem;
    padding: 1.2rem 0 0;
    font-size: 1rem;
}

#todoEnter {
    width: 100%;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1.1rem;

}

.todo-item-controls {
  padding-right: 10px;
  float: right;
}

.done-item {
    text-decoration: line-through;
}

.unstyled {
    list-style: none;
    margin-left: -35px;
}

.todo-item a {
    // text-decoration: none !important;
}

.todo-item {
  font-size: 1.6rem;
  font-weight: 400;
  list-style: none;
  margin-left: -43px;
  padding: 5px;
}

.done-btn {
    margin-right: 35px;
}
.done {
  text-decoration: line-through;
  color: black;
  border-bottom: solid 2px #353535;
}

// todo //




// greeting //
.greet {
  // color: #ffffff;
  text-align: center;
  font-size: 45pt;
  text-shadow: 2px 3px 5px Rgba(50, 50, 50, 0.65);
}
.greeting {
  position: absolute;
  width: 50%;
  bottom: 35%;
  left: 25%;
  z-index: -1;
}
// greeting //


// goals //

.goals {

}
.goals_container {

}

// goals //

// quote //
.quote_box {
  position: absolute;
  width: 50%;
  bottom: 20px;
  left: 25%;
}

#quote {
  // color: #ffffff;
  text-align: center;
  font-size: 12pt;
  // text-shadow: 1px 1px 0px Rgba(255, 255, 255, 1);
  font-weight: 200;
  line-height: 1.5;
}
// quote //

// About Us //
.slidingDiv {
  position: absolute;
  top: 40px;
  left: 5px;
  // background-color: rgba(113, 113, 113, 0.70);
  width: 99%;
  text-align: center;
  padding: 15px;
  z-index: 9999999;
}


.dever {
  padding: 7px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.75);
  width: 32%;
}
.show_hide {
  display:none;
  position: fixed;
  top: 5px;
  left: 5px;
  text-decoration: none;
  padding: 5px 20px;
  cursor: pointer;
  // color: #eee;
  // background-color: rgba(53, 53, 53, 0.52);
}

.linkPic {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}



.info {
  // color: #158CBA;
  min-height: 180px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
// About Us //


// Options //
.show_hide_opt {
  text-decoration: none;
  /*background-color: rgba(53, 53, 53, 0.52);*/
  // padding: 5px 20px;
  cursor: pointer;
}

.opt {
  position: fixed;
  top: 5px;
  right: 5px;
  text-align: right;
  width: 200px;
}
.optionsDiv {
  // background-color: rgba(53, 53, 53, 0.52);
  padding: 5px;
  width: 200px;
}

i.fa.fa-cogs.fa-3x {
  padding-bottom: 10px;
}
// Options //
