// Twiiter Feed //

.inputCounter {
  display: inline;
  float: right;
}


.tweetBox {
  padding: 10px;
  width: 600px;
  display: inline-block;


  & form{
    display: inline-block;
    width: 100%;
  }
  & input[type="text"] {
    color: #767676;
    width: 80%;
  }
  & input[type="submit"] {
    color: #767676;
  // width: 10%;
  }

  & .fa-twitter{
    padding-left: 20px;
  }
  & .fa-twitter:hover{
    color: #3cf;
  }
}





.timeline {
    display: block;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    overflow-y: scroll;
    height: 50%;
    // margin-top: 50px;
}

.tweet {
  background-color: rgba(113, 113, 113, 0.30);
  padding: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.twitt {
  display: inline-block;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.twiTitle {
  font-size: 26px;
  margin: 15px;
  display: none;
}
.twitPic {
  margin-right: 20px;
  height: 50px;
  width: auto;
  float: left;
}

.tweet_author {
  float: left;
}

.tweetAt {

  float: right;
}

// Twiiter Feed //







.tweetSignIn {
  background-color: rgba(113, 113, 113, 0.70);
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  text-align: center;
  padding: 7px 4px;
  margin-right: auto;
  margin-left: auto;

  height: 100%;
  max-height: 300px;

  overflow: hidden;

  z-index: 10;

  & h1 {
    color: #fff;
  }

  &.signout {
    height: 48px;
    top: 0;
    color: #fff;
    transition: 1s all;
    right: 0;
    margin-right: 0;
    width: 160px;

    & p {
      font-size: 12px;
    }

    &:hover {
      height: 99px;
    }

    & input[type="submit"] {
        background-color: #000;
     }
  }

  & input[type="submit"] {
    border: none;
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 100%;
    color: #ffffff;
    transition: 0.4s all;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;

    &:hover {
      background-color: gray;
    }
  }

}
