// Twiiter Feed //

.inputCounter {
  display: inline;
  float: right;
}


.tweetBox {
  padding: 10px;
  width: 100%;
  display: inline-block;


  & form{
    display: inline-block;
    width: 100%;
  }
  & input[type="text"] {
    color: #767676;
    width: 80%;
  }
  & input[type="submit"] {
    color: #767676;
  // width: 10%;
  }

  & .fa-twitter{
    padding-left: 20px;
  }
  & .fa-twitter:hover{
    color: #3cf;
  }
}





.timeline {
    display: block;
    width: 100%;
    // max-width: 600px;
    height: 50%;
    min-height: 300px;
    overflow-y: scroll;
    // margin-top: 50px;
}

// .tweet {
//   background-color: rgba(113, 113, 113, 0.30);
//   padding: 7px;
//   margin-top: 4px;
//   margin-bottom: 4px;
// }

.tweet {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  margin-bottom: auto;
  transition: box-shadow .25s;
  position: relative;
  height: 130px;
  &:hover {
      transition: box-shadow .55s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
.profile_img_wrap {
    // background: aqua;
    /* display: inline-block; */
    float: left;
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 2%;

    & .profile_pic {
    height: auto;
    width: 100%;
    display: block;
    margin-top: 20px;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    }
}

.tweet_content {
    width: 78%;
    margin-left: 22%;
    /* position: absolute; */
    top: 0;
    height: 100%;

    & .tweet_author {
    // float: left;
    display: inline-block;
    }

    & .tweet_at {
    float: right;
    /* text-align: right; */
    display: inline-block;
    }


}


.twitter_load_error {
    background: #333333;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    color: #fff;

    & .fa {
      font-size: 30px;
      vertical-align: middle;
    }
}
// Twiiter Feed //







.tweetSignIn {
  background-color: rgba(113, 113, 113, 0.70);
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  text-align: center;
  padding: 7px 4px;
  margin-right: auto;
  margin-left: auto;

  height: 100%;
  max-height: 300px;

  overflow: hidden;

  z-index: 10;

  & h1 {
    color: #fff;
  }

  &.signout {
    height: 48px;
    top: 0;
    color: #fff;
    transition: 1s all;
    right: 0;
    margin-right: 0;
    width: 160px;
    background: #000;

    & img {
      float: left;
      border-radius: 50%;
      height: 36px;
      margin-left: 1px;
      margin-bottom: 5px;
    }

    & p {
      font-size: 12px;
      margin-top: 7px;
    }

    &:hover {
      height: 99px;
    }

    & input[type="submit"] {
        background-color: #000;
     }
  }

  & input[type="submit"] {
    border: none;
    padding: 5px 10px;
    position: absolute;
    position: relative;
    bottom: -15px;
    margin: auto;
    left: 0;
    width: 100%;
    color: #ffffff;
    transition: 0.4s all;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;


    &:hover {
      background-color: gray;
    }
  }

}
