
// Twiiter Feed //

.tweetBox input[type="text"] {
  color: #767676;
  width: 80%;
}

.tweetBox input[type="submit"] {
  color: #767676;
  width: 10%;
}


.tweetBox {
  position: absolute;
  top: 30px;
  left: 5px;
  padding: 10px;
  // background-color: rgba(113, 113, 113, 0.70);
  width: 400px;
  display: inline-block;
}
.tweetSignIn {
  // background-color: rgba(113, 113, 113, 0.70);
  position: absolute;
  left: 40%;
  top: 10px;
  width: 20%;
  text-align: center;
  padding: 7px 4px;
  margin-right: auto;
  margin-left: auto;

}

.timeline {
  position: absolute;
  top: 30px;
  right: 5px;
  // background-color: rgba(113, 113, 114, 0.70);
  display: inline-block;
  padding: 25px;
  padding-left: 75px;
  min-width: 200px;
  max-width: 400px;
  max-height: 300px;
  overflow-y: scroll;
}

.tweet {
  background-color: rgba(113, 113, 113, 0.30);
  padding: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.twitt {
    display: inline-block;
    margin-left: -45px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.twiTitle {
    /* text-align: center; */
    font-size: 26px;
    margin: -15px auto 20px -50px;
}
.twitPic {
    margin-right: 20px;
    height: 50px;
    width: auto;
    float: left;
}

.tweet_author {
    float: left;
}

.tweetAt {

    float: right;
}
// Twiiter Feed //
