// Twiiter Feed //
.twitter-reveal {
  background-color: #000;
  border-radius: 20% 0 0  20% ;
  cursor: pointer;
  font-size: 20px;

  padding: 10px 10px;
  position: absolute;
  left: -40px;
  top: 60px;
  width: 40px;
  transition: 1s background-color;

  &:hover {
    background-color: gray;
  }

  &.active {

  }
}
.twitter-container {
  // background-color: red;
    // width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    transition: 1s transform;
    transform: translateX(600px);
    z-index: -2;

  &.active {
    transform: translateX(0);
  }
}



.inputCounter {
  display: inline;
  float: right;
}


.tweetBox {
  padding: 10px;
  // background-color: rgba(113, 113, 113, 0.70);
  // background-color: red;
  width: 600px;
  display: inline-block;


  & form{
    display: inline-block;
    width: 100%;
  }
  & input[type="text"] {
    color: #767676;
    width: 80%;
  }
  & input[type="submit"] {
    color: #767676;
  // width: 10%;
  }

  & .fa-twitter{
    padding-left: 20px;
  }
  & .fa-twitter:hover{
    color: #3cf;
  }
}





.timeline {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    overflow-y: scroll;
    height: 50%;
    margin-top: 50px;
}

.tweet {
  background-color: rgba(113, 113, 113, 0.30);
  padding: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.twitt {
  display: inline-block;
  // margin-left: -45px;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.twiTitle {
  /* text-align: center; */
  font-size: 26px;
  // margin: -15px auto 20px -50px;
      margin: 15px;
    display: none;
}
.twitPic {
  margin-right: 20px;
  height: 50px;
  width: auto;
  float: left;
}

.tweet_author {
  float: left;
}

.tweetAt {

  float: right;
}

// Twiiter Feed //







.tweetSignIn {
  background-color: rgba(113, 113, 113, 0.70);
  // background-color: blue;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  width: 300px;
  text-align: center;
  padding: 7px 4px;
  margin-right: auto;
  margin-left: auto;

  height: 100%;
  max-height: 300px;

  &.signout {
    // background-color: red;
    height: 48px;
    top: 0;
    color: #fff;
    transition: 1s all;
    // font-size: 20px;

    &:hover {
      height: 500px;
      // top: 40px;
    }

    & input[type="submit"] {
        background-color: #000;
     }
  }

  & input[type="submit"] {
    border: none;
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 100%;
    color: #ffffff;
    transition: 0.4s all;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
  }

}

.tweetSignIn 

.tweetSignIn input[type="submit"]:hover {
  background-color: gray;
}

.tweetSignIn h1 {
  color: #fff;
}