/*// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
/*// weather //*/
#icon1 {
    width: 40px;
    margin-left: 10px;
}

.weather {
  display: initial;
  position: absolute;
  top: 80%;
  left: 5px;
  width: 200px;
  height: 75px;
  padding: 10px;
}
.weather.container {
    width: 250px;
}

.temp {
  display: initial;
  font-size: 24pt;
  /*// color: #ffffff;*/
  text-shadow: 2px 3px 5px Rgba(50, 50, 50, 0.65);
  margin: 0px 15px 0px;
}

.sum {
    display: initial;
    // color: #ffffff;
    // text-shadow: 2px 3px 5px Rgba(50, 50, 50, 0.65);
    margin: 0 0 0px;
    vertical-align: top;
}


/* forecast CSS */
.forecast {
    list-style: none;
    padding: 0;
    width: 200px;
}

.forecast li {
    padding: 5px;
    border-bottom: 1px solid #fff;
}

ul.daily_weather_ul {
    border: 1px solid #fff;
    list-style: none;
    padding: 0;
}


span.summary {
    display: inline-block;
}

span.temp {
    font-size: inherit;
}
span.temp_marker.low {
    color: #8AE7FF;
}

span.temp_marker.hi {
    color: #FFB4B4;
  }
