/*// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
/*// weather //*/
#icon1 {
    width: 40px;
    margin-left: 10px;
}

.weather {
  display: initial;
  position: absolute;
  top: 80%;
  left: 5px;
  width: 200px;
  height: 75px;
  padding: 10px;
}
.weather.container {
    width: 250px;
}
.weather p.temp {
    font-size: 2.4rem;
    display: inline;
}

.temp {
  text-shadow: 2px 3px 5px Rgba(50, 50, 50, 0.65);
  margin: 0px 15px 0px;
}
.temp:after {
    content: "˚"
}
.temp_f:after {
  content: "˚F"
}

.temp_c:after {
  content: "˚C"
}

.sum {
    display: initial;
    // color: #ffffff;
    // text-shadow: 2px 3px 5px Rgba(50, 50, 50, 0.65);
    margin: 0 0 0px;
    vertical-align: top;
}


/* forecast CSS */
.forecast {
    list-style: none;
    padding: 0;
    width: 200px;
}

.forecast li {
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.daily_weather_ul {
    border: 1px solid #fff;
    list-style: none;
    padding: 0;
}

.temp_summary_block {

}
.summary {
    display: inline-block;
}

.temp_block {

}
.temp_marker {
    text-align: center;
}
.low {
    color: #8AE7FF;
}

.hi {
    color: #FFB4B4;
}



span.icon {
    display: none;
}


.forecast_table {
    background-color: transparent;
    text-align: center;
}
